<h1>The Document Viewer</h1>

<div class="alert alert-warning">
  <h4>Select the File That you want to open</h4>
</div>

<div class="container">
  <label for="selectFile">Select File To View:</label>
   <select name="selectFile" id="selectFile" (change)="download($event)">
      <option value="">Select File</option>
      <option *ngFor="let file of files" value="{{file}}">{{file}}</option>
   </select>
</div>
<br/>
<div class="alert alert-danger">
  <iframe [src]="pdfUrl" width="100%" height="600px" title="Document Viewer"></iframe>
</div>

